[Connection]
host = localhost
port = 9091
path = /transmission/rpc
ssl = False

[Sorting]

[Filtering]

[Misc]

[Colors]

title_seed = fg:green
title_seed_f = fg:green
title_download = bg:yellow
title_download_st = fg:yellow
title_download_t = fg:black
title_download_s = fg:cyan
title_idle = fg:gray
#title_verify
#title_paused
#title_paused_done
title_error = fg:red
#title_seed_incomp
title_download_incomp = fg:yellow
#title_idle_incomp
#title_verify_incomp
#title_paused_incomp
#title_paused_done_incomp
#title_error_incomp
#download_rate
#upload_rate
#eta+ratio
#filter_status
#sort_status
#multi_filter_status
#dialog
#dialog_important
dialog_text = fg:yellow
#dialog_text_important
menu_focused = fg:magenta
file_prio_high = fg:red
#file_prio_normal
file_prio_low = fg:gray
#file_prio_off
top_line = fg:white,bg:black
#bottom_line
chunk_have = fg:yellow,bg:green
#chunk_dont_have

[Profiles]

